@page "{id:int}"
@model Pr2Cruds.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Seguro que deseas eliminar esta tarea?</h3>
<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Tarea.Nombre)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Tarea.Nombre)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Tarea.FechaVencimiento)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Tarea.FechaVencimiento)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Tarea.Estado)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Tarea.Estado)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Tarea.IdUsuario)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Tarea.IdUsuario)</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Tarea.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./Index" class="btn btn-secondary ms-2">Back to List</a>
    </form>
</div>
