@page
@model Pr2Cruds.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tarea[0].Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Tarea[0].FechaVencimiento)</th>
            <th>@Html.DisplayNameFor(model => model.Tarea[0].Estado)</th>
            <th>@Html.DisplayNameFor(model => model.Tarea[0].IdUsuario)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tarea)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaVencimiento)</td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td>@Html.DisplayFor(modelItem => item.IdUsuario)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
